.App {
  text-align: center;
  margin-top: 20px;
}

h1 {
  color: #333;
}

.dashboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.crypto-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 200px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.crypto-card h3 {
  margin-bottom: 8px;
}

.crypto-card p {
  margin: 5px 0;
}
